/* CSS per il titolo */
h1 {
    color: #bbaf02;
    text-align: center;
    font-size: 4em; 
    font-weight: bold;
    margin-top: 50px; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-variant: inherit;
}
#sub-heading {
    margin-top: 0; 
    color: #bbaf02;
    font-size: 2.5em; 
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

/* CSS per il contenitore */
body {
    text-align: center;
    background-color: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Allinea al centro verticalmente */
    align-items: center; /* Allinea al centro orizzontalmente */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

/* CSS per il form */
.input-group {
    display: flex;
    justify-content: center; /* Allinea al centro verticalmente */
    align-items: center; /* Allinea al centro orizzontalmente */
    margin: 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2.5px;
}

label {
    color: #fff;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #bbaf02;
    color: #000;
    font-size: 0.9em;
    border-radius: 5px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2.5px;
}

/* Stile per il testo "- E" tra i campi di input */
.input-divider {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    margin: 10px; 
    padding: 20px; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

/* Stile per la "- E" di input-divider */
.input-divider span {
    display: block;
    margin-top: -1.5em; /* Spostamento verso l'alto per allinearlo sotto la "L" di "GOLEM" */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

button {
    transition: transform 0.3s, box-shadow 0.3s; /* Aggiunta della transizione per transform e box-shadow */
    background-color: #bbaf02;
    color: #fff;
    font-size: 1em; /* Aumenta la dimensione del titolo del doppio */
    font-weight: bold;
    letter-spacing: 2.5px;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    background-color: white;
    color: #bbaf02;
    transform: scale(1.1); /* Ingrandisce il pulsante al passaggio del cursore */
    box-shadow: 0 0 0 2px #bbaf02; /* Aggiunge uno "spazio" simulato intorno al pulsante */
}

/* Stile per il messaggio di errore */
#error-message {
    display: none; /* Nasconde inizialmente il messaggio */
    color: #ff0000;
}
